
body{
    background-image: url('img/wall1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.card{
    opacity: 75%;
    width: 40%;
    margin-bottom: 10px;
    top: 60px;
    left: 45px;
}

.card1{
    background-color: white;
    width: 40%;
    height: 200px;
    float: right;
    margin-top: 15%;
    margin-right: 10%;
    border: 3px rgb(193 181 164) solid;
}

/* .FistLogo{
    font-size: 55px;
    margin-left: 60px;
    margin-top: 5px;
    font-family: 'Sansita Swashed', cursive;
}

hr{
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: .25;
    width: 45px;
}
.SecondLogo{
    font-size: 55px;
    margin-left: 60px;
    margin-top: 0px;
    font-family: 'Sansita Swashed', cursive;

} */

#img{
    margin-top: 40%;
    margin-left: 40%;
    width: 65px;
    height: 73px;
}

.info{
    margin-top: 5%;
    background-color: rgb(193 181 164);
    height: 163px;
    border: 1px gray solid;
}

.txt{
    margin-left: 8%;
    padding-top: 5%;
}
.info h3{
 font-size: 20px;
}


.info h4{
    font-size: 15px;
    display: inline-block;
}