
#loading {
    width: 2rem;
    height: 2rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid #9c41f2;
    border-radius: 100%;
    margin: auto;
    visibility: hidden;
    animation: spin 1s infinite linear;
}
#loading.display {
    visibility: visible;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#loading {
    background-image: url("../img/preloader.GIF");
    background-position: center center;
    background-repeat: no-repeat;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
}
#preloader {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

body{
    background-image: url('../img/wall1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.card{
    opacity: 75%;
    width: 40%;
    margin-bottom: 10px;
    top: 50px;
    left: 45px;
}

.card1{
    background-color: white;
    width: 40%;
    height: 200px;
    float: right;
    margin-top: 15%;
    margin-right: 10%;
    border: 3px rgb(193 181 164) solid;
}

.FistLogo{
    font-size: 55px;
    margin-left: 60px;
    margin-top: 5px;
    font-family: 'Sansita Swashed', cursive;
}

hr{
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: .25;
    width: 45px;
}
.SecondLogo{
    font-size: 55px;
    margin-left: 60px;
    margin-top: 0px;
    font-family: 'Sansita Swashed', cursive;

}

.info{
    margin-top: 5%;
    background-color: rgb(193 181 164);
    height: 163px;
    border: 1px gray solid;
}

.txt{
    margin-left: 8%;
    padding-top: 5%;
}
.info h3{
 font-size: 20px;
}
.info h4{
    font-size: 15px;
}